<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hosts SYSTEM "file:///usr/share/xml/schema/apt-dater/hosts.dtd">

<hosts xmlns:xi="http://www.w3.org/2001/XInclude">
{% for group in apt_dater_groups %}
  <group name="{{ group.name }}">
{% for host in group.hosts %}
    <host name="{{ host }}" />
{% endfor %}
  </group>
{% endfor %}
</hosts>
